.newtable{
    width: 90%;
    margin: auto;
}

.MarginNull{
margin:0px;
}
.T{
margin: 0 auto;
    width: 35%;
    margin-top: 20px;
    background: #007bff;
    border: 1px;
    border-style: solid;
    border-radius: 15px;
    margin-bottom: 10px;
    color: white;
    text-align: center;
    padding: 10px;
}